!.gitkeep
.DS_Store
.env

mastodon/postgres/**/*
mastodon/public/system/**/*
docker/mastodon/redis/**/*
wordpress/mysql/**/*
wordpress/public/**/*

twichat/postgres/**/*

anime-title-gacha/.env
mastodon/.env.production
mastodon/redis/dump.rdb
radio.discord/.env
renchon/.env
shadowban-alerts/.env
takagi.AI/.env
takagi-ai-discord/.env
twichat/.env
twichat/backend/log/gunicorn/access.log
twichat/backend/log/gunicorn/error.log
wordpress/.env
takagi.AI/data/model.json
takagi.AI/data/tweets.txt

renchon/data/timeline_tweets.json
renchon/web.env
renchon/bot.env
renchon/followback.env
renchon/ff-report.env
nhrigs/.env

images/static/*.gif
images/static/*.jpeg
images/static/*.jpg
images/static/*.tiff
images/static/*.png
images/static/*.webp
images/static/*.bmp
images/static/*.svg
