[submodule "nginx"]
	path = nginx
	url = https://github.com/cloud-iamtakagi-net/nginx.git
[submodule "samba"]
	path = samba
	url = https://github.com/cloud-iamtakagi-net/samba.git
[submodule "portainer"]
	path = portainer
	url = https://github.com/kanagawa-iamtakagi-net/portainer.git
