mastodon/postgres/**/*
mastodon/public/system/**/*
docker/mastodon/redis/**/*
wordpress/mysql/**/*
wordpress/public/**/*

twichat/postgres/**/*

anime-title-gacha/.env
mastodon/.env.production
mastodon/redis/dump.rdb
radio.discord/.env
renchon/.env
shadowban-alerts/.env
takagi.AI/.env
takagi-ai-discord/.env
twichat/.env
twichat/backend/log/gunicorn/access.log
twichat/backend/log/gunicorn/error.log
wordpress/.env
takagi.AI/data/model.json
takagi.AI/data/tweets.txt

!.gitkeep
renchon/data/timeline_tweets.json
renchon/web.env
renchon/bot.env
